*, *::after, *::before{
    box-sizing: border-box;
}

h1{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-family: Georgia;
    font-style: italic;
    color: rgb(180, 43, 43);
    text-shadow: 0 8px 15px #adadad;
}
body{
    height: 100vh;
    background: #8acfe7b3;
}

#board{
    position: relative;
    margin: auto;
    display: grid;
    top: 20px;
    grid-template-columns: repeat(5, 4rem);
    grid-template-rows: repeat(4, 7rem) ;
    gap: 3rem;
    justify-content: center;
    padding-top: 1rem;
    height: 640px;
    width: 600px;
    background-image: url(https://thumbs.dreamstime.com/b/green-felt-fabric-texture-background-snooker-poker-billiards-table-131133322.jpg);
    border: 9px solid rgb(65, 31, 31);
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 20px 8px #626161;
}

.card{
    height: 110;
    width: 125%;
    border:2px solid black;
    border-radius: 5px;
    background-image: url(https://i.pinimg.com/originals/72/13/e1/7213e1a55a3c0c73d5864e14ba1aa7dc.jpg);
    background-size: contain;
    text-align: center;
    cursor: pointer;
    transform: scale(1);
    user-select: none;
}
.card:hover{
    height: 110;
    width: 125%;
    border:2px solid black;
    border-radius: 5px;
    background-image: url(https://i.pinimg.com/originals/72/13/e1/7213e1a55a3c0c73d5864e14ba1aa7dc.jpg);
    background-size: contain;
    box-shadow: 0 0 20px 8px #958f8f;
    text-align: center;
    cursor: pointer;
}
.card:active{
    transform: scale(.95);
    transition: 0.5s;
}

.A{
    height: 110;
    width: 125%;
    border:2px solid black;
    border-radius: 5px;
    background-image: url("cards/azumag-kougzx.png");
    background-color: rgb(253, 46, 191);
    background-size: 76px 109px;
    text-align: center;
    cursor: pointer;
    transform: scale(1);
    user-select: none; 
    color: transparent;
}
.B{
    height: 110;
    width: 125%;
    border:2px solid black;
    border-radius: 5px;
    background-image: url("cards/black-cat.png");
    background-color: red;
    background-size: 100% 108PX;
    text-align: center;
    cursor: pointer;
    transform: scale(1);
    user-select: none;
    color: transparent;
}
.C{
    height: 110;
    width: 125%;
    border:2px solid black;
    border-radius: 5px;
    background-image: url("cards/cat-listening-to-music.png");
    background-color: rgb(28, 187, 255);
    background-size: 108px;
    text-align: center;
    cursor: pointer;
    transform: scale(1);
    user-select: none; 
    color: transparent;
}
.D{
    height: 110;
    width: 125%;
    border:2px solid black;
    border-radius: 5px;
    background-image: url("cards/cat-with-big-smile.png");
    background-size: 86px 111px;
    background-color: rgb(220, 214, 214);
    text-align: center;
    cursor: pointer;
    transform: scale(1);
    user-select: none; 
    color: transparent;
}